@model IEnumerable<Zadanie.Models.Dane>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Zadanie.cshtml";
}
<h2 class="text-center">To Do - lista zadań</h2>
@Html.Partial("_BodyHeader")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.temat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.czynnosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_rozpoczecia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_zakonczenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priorytet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.procent_zakonczenia)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.temat)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.czynnosc)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.data_rozpoczecia)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.data_zakonczenia)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.status)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.priorytet)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.procent_zakonczenia)
            </th>
            <th>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Checkbox</label>
                </div>
            </th>
            <th>
                <button type="button" class="btn">@Html.ActionLink("Szczegóły", "Details")</button>
             
            </th>
            <th>
                <button type="button" class="btn">Przesuń</button>
            </th>
            <th>
                <button type="button" class="btn">X</button>
            </th>

        </tr>
    }

</table>

