@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Zadanie.Models.Dane>

@*  drop down wyskakuje jako absolute do diva... poszukaj, aby absolute wyskakiwal do polozenia elementu button *@
<div class="dropdown pull-right  col-sm-3">
    Elementów na stronie:
    <button type="button" class="dropdown-toggle" data-toggle="dropdown">
        @(ViewBag.CurrentPageCount??10)
    </button>
    <div class="dropdown-menu">
        <li> @Html.ActionLink("10", "Index",new { pageCount = 10 }, null)</li>
        <li>@Html.ActionLink("20", "Index",new { pageCount = 20 }, null)</li>
        <li> @Html.ActionLink("30", "Index", new { pageCount = 30 }, null)</li>
        <li> @Html.ActionLink("40", "Index", new { pageCount = 40 }, null)</li>
        <li> @Html.ActionLink("50", "Index", new { pageCount = 50 }, null)</li>


    </div>
</div>

<div class="text-center">
    @Html.PagedListPager(Model,page=>Url.Action("Index",
        new { page,sortBy=ViewBag.CurrentSort,pageCount = ViewBag.CurrentPageCount}),
        new PagedListRenderOptions {LinkToPreviousPageFormat = "Poprzednia",
            LinkToNextPageFormat = "Następna",
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always
        })
</div>
@*  //przyklad uzycia, jakbym potrzebowal ustawiac, ze ma byc max np. 5 stron na widok
    @Html.PagedListPager(Model.video, page => Url.Action("video_play", new { page = page }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< Next", LinkToPreviousPageFormat = "<", LinkToNextPageFormat = ">", LinkToLastPageFormat = "Last >>" }, PagedListRenderOptions.OnlyShowFivePagesAtATime)
*@